* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;

    font-size: 16px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
 

}

.btn_color {
    background-color: #F58025;
    color: white;
    border: none;
}

.border {
    border: 1px solid black;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.cursor {
    cursor: pointer;
}

/* .banner_img{
    background-image: url(../images/bannerimg.png);
    background-size: 100%;
} */




/* logo part */
.logo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 80px;
}
.logo img {
    width: 84px;
    height: 35px;
    /* margin: 22px 50px; */
}

.logo {
    background-color: white;
}
.logo a i{
    font-size: 30px;
    display: none;
}
.navbar {
    background-color: #2c2824;
    opacity: 0.5;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}

nav ul li a,
.logo_name {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

nav ul li a:hover {
    color: #F58025;
}

ul.navbarlink>li:not(:last-child) {
    margin-right: 42px;
}

/* banner */
.banner {
    width: 100%;
    height: 690px;
    background-image: url(../images/bannerbackground.png);
    position: relative;
    background-size: 100%;
    background-position: center;
}

.banner-bottom {
    justify-content: space-between;
    margin-top: 135px;
    height: 350px;
}

/* .banner-bottom  .left_banner{
    border: 1px solid red;
} */
.banner-bottom .left_banner h1 {
    font-size: 52px;
    font-weight: bold;
    color: white;
}

.banner-bottom .left_banner button {
    padding: 15px 40px;
    margin-top: 40px;
}

.banner-bottom .right_banner {
    width: 348px;
    height: 150px;
    padding: 20px;
    align-self: flex-end;
    background-color: #FFFFFF;
    opacity: 0.5;
}

.banner-bottom .right_banner h4 {
    font-weight: 600;
    font-size: 16PX;
    margin-bottom: 10px;
}

.banner-bottom .right_banner p {
    margin-top: 10px;
}

.banner-bottom .right_banner span,
.banner-bottom .right_banner p {
    font-size: 14px;
    color: black;
}


/* emial form part  */
.info_logo {
    width: 84px;
    height: 35px;
    /* margin: 20px 50px 22px 50px; */
    padding: 30px 50px 22px 50px;
}

.info_form,
.inner_info {
    /* height: 747px; */
    background: url(../images/blue_background.png);
   padding: 30px;
}

.inner_info {
  justify-content: center;
  align-items: center;
}

.left_info {
    width: 477px;
    height: 260px;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* align-self: center;
    margin-left: 20px; */
}

.left_info ul {
    justify-content: space-between;
}

.left_info span,
.left_info ul li a,
.card_cap {
    font-size: 13px;
    font-weight: 500;
    color: black;
}

.left_info input,
.left_info button {
    margin: 15px 0px;
    width: 370px;
    height: 50px;
    padding: 10px;
}

.right_info {
    width: 748px;
    height: 585px;

}

.right_info img {
    width: 100%;
    height: 585px;
}

/* inner_country */
.country {
    background-color: #FAFBFF;
}

.inner_country {
    margin-top: 70px;
}
.inner_country  h4{
    font-size: 22;
    margin-left:30px;
    font-weight: 500;
}
.card_country{
    background-image: url(../images/state-map.png);
    background-size: cover;
    background-position:center;
}
.owl_country {
padding: 50px;

}

.item_country .card_img {
    width: 145px;
    height: 136px;
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
}

.item_country_inner {
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

.item_country .card_img img {
    width: 85px;
    height: 85px;

}

/* Style the tab */
.your_os{
    background-color: #FBFBFB;
   

}

.your_os .tab {
    overflow: hidden;
  }
  .your_os h2{
    font-size: 35px;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 50px;
}
  /* Style the buttons inside the tab */
  .your_os .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size:18px;
   
  }
  .your_os .tab >:not(:first-child){
    margin-left:30px;
  }
  /* Change background color of buttons on hover */
  .your_os .tab button:hover {
   color: #f36b03;
   font-weight: bolder;
  }
 
  
  /* Style the tab content */
  .your_os .tabcontent {
    padding: 6px 12px;
    justify-content: space-between;
  
  }
  .tabcontent .inner_card_yos{
    display: inline-block;
    margin: 20px;
    text-align: center;
    
  }
  .your_os .owl_yos_item {
    justify-content: space-between; 
    text-align: center;
    height: 350px;
    padding: 20px;
    flex-wrap: wrap;
    /* border: 1px solid red;  */
}
.owl_yos_item h5{
    border-bottom:1px solid  #f36b03;
    margin-top:50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.your_os.owl_yos_item p{
    margin-top: 30px;
    font-size: 15px;
    margin-bottom: 10px;
   
}
.owl_yos_item p span{
    font-size:12px;
    margin-bottom: 15px
}
.inner_card_yos{
    padding: 20px;
    background-color: #FFFFFF; 
    height: 274px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.inner_card_yos:hover{
    background-color: #F28A49;
    color: white;
}
.inner_card_yos_img{
    width: 145px;
    height: 36px;
}
.inner_card_yos_img span{
    width: 100%;
    height: 30px;
    font-size: 32px;
    font-weight: bolder;

}
/* new tab slider  */
/* Style the tab */

.an_oprating{
    background-color: white;   
}

  .an_oprating  .tab {
    overflow: hidden;
  }
  .an_oprating  .tab:hover{
    color: #f36b03;
  }
  /* Style the buttons inside the tab */
.an_oprating .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
 .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
.tab button.active {
    /* background-color: #ccc; */
    color: #f36b03;
  }
  
  /* Style the tab content */
  .tab-card-details:hover{
    background-color: #F28A49;
  }
 .tabcontentt {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    /* background-color: red; */
    height: 400px;
  }
  .an_oprating h2{
    font-size: 35px;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 50px;
}
.tab-card-details{
    /* background-color: #2c2824; */
    width: 428px;
    height: 221px;
    padding: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}
 .inner-card {
   margin-top:50px;

}
 .inner-card div{
    margin-right:50px;
 }
 .inner-card ul{
    justify-content: space-between;
    margin-bottom: 20px;
}
.inner-card ul li p{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}
.inner-card ul li a{
    border: 1px solid gray;
    padding: 8px 15px;
    border-radius: 25px;
    color: black;
    font-size: 13px;
}
 .inner-card select{
    width: 100%;
    padding: 10px;
}











.your_server{
    position: relative;
  
}
.your_server-carousel{
    padding: 10px;
  
}
.your_server-carousel .item{
    padding: 20px;
}
.your_server h2{
    font-size: 35px;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 50px;
}
.your_server-carousel .inner-item-server{
  
    width: 170px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}
/* .inner-item-server{
    padding: 10px;
} */
.top-blue{
    background-color: #2980C9;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}
.top-blue P{
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.top-blue P span{
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}
.inner-item-server ul{
    padding: 15px;
    font-size: 14px;
}
.inner-item-server ul li{
    margin-top:15px;
}


.owl-theme .owl-dots .owl-dot span{
    display: none !important;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(73, 70, 70) !important;
    color: white !important;
}














/*  Toggle Switch  */

.footer-tab{
    padding: 50px;
    background-color: #ECEEFE;
    height: 330px;
}
.footer-tab h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.outer-tab{
    width: 100%;
}
.footer-tab-btn{
    width: 290px;
    height: 44px;
    border-radius: 35px;
  margin: 0px auto;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  
   margin-top: 20px;
}
.footer-tab-btn li{
    border-radius:35px;
    padding: 20px;
}
.footer-tab-btn li:hover{
    background-color: #f36b03;
    padding: 10px 25px;
    color: white;
}
.footer-tab-btn li:active{
    background-color: #f36b03;
    padding: 10px 25px;
    color: white;
}
/* .plan-carousel{
background-color: #061F95;
} */
.plan-carousel .item{
    width: 270px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   margin:10px;
    height: 400px;
}
/* .plan-carousel .item:hover{
    width: 280px;
    height: 450px;
} */
.footer-bottom .plan-carousel{
    padding-left: 60px;
}
.footer-bottom{
    margin-top: -60px;
}

/* .plan-carousel .item{
    padding: 20px;
} */
.plan-carousel .item .inner-card-plan{
    background-color:#ECEDF4;
    padding: 30px;
}
.plan-carousel .item .inner-card-plan p span{
    font-size:34px;
    font-weight: bold;
}
.plan-carousel .item .inner-card-plan p {
    font-size: 22px;
}
.inner-card-plan-bottom{
    padding: 30px;
}
.inner-card-plan-bottom ul li{
    margin: 20px 0px;
    font-size: 16px;
}
.inner-card-plan-bottom ul li::before{
    content:url(../images/right.png);
    margin-right: 10px;
}
.inner-card-plan-bottom p{
    margin:25px 0px;
    font-size: 21px;
}
.inner-card-plan-bottom a{
   border: none;
    padding: 10px 45px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 35px;
    background-color: #061F95;
    color: white;
}
.inner-card-plan-bottom a:hover{
    background-color: #f36b03;
}
.header-for-mobile-app{
    display:none;
}
#baricon{
    display: none;
}

/* responsive navbar */
@media only screen and (max-width:1200px){
    .container
    {
        max-width: 991px;
        width: 100%;  
    }
}
@media only screen and (max-width:1000px){
    .tab-card-details{
        width: 330px;
    }

}
@media only screen and (max-width: 991px){

    .container
    {
        max-width: 767px;
        width: 100%;  
    }
    .navbar nav .navbarlink li a{
        font-size: 14px;
    }
    .left_info{
        width: 360px;
    }
    .left_info input, .left_info button{
        width: 280px;
    }
    .item_country_inner{
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 8px;
    }
    .item_country_inner {
        row-gap: 20px;
    }
    .your_os h2 {
        margin-left: 14px;
        font-size: 26px;
    }
    .your_os .tab >:not(:first-child){
        margin-left: 1px;
    }
    .your_os .tab button{
        font-size: 15px;
    }
    .your_server h2 {
        font-size: 26px;
    }
    .footer-tab h2{
        font-size: 26px;
    }
}
@media only screen and (max-width: 767px){
    .container
    {
        width:625px;  
       
    }
    #baricon{
        display: block;
        font-size:32px;
    }
    .logo a i{
        display: block;  
    }
    .header-for-mobile{
        display:block;
        z-index: 1;
        background-color:  rgb(25, 29, 27);
        position:fixed;
        right: 0px;
        left: 0px;
        top:5rem;
        height: 100vh;
        padding: 2rem;
        color: rgb(255, 255, 255);
    }
    .header-for-mobile ul li{
        margin-top: 20px;
    }
    .header-for-mobile ul li a{
        color: white;
    }
    .navbarlink{
        display: none;
    }
    .logo_name{
        margin: 0px auto;
        font-size: 30px;
    }
    .logo{
        padding: 0px 20px;
    }
    .info_form .inner_info{
        flex-direction: column-reverse;
    }
    .left_info {
        width: 100%;
    }
    .left_info input{
        width: 100%;
    }
    .left_info button {
        width: 180px;}

        .right_info {
            width:100%;
            height: 500px;
        }
        .right_info{
           
                width: 100%;
                height: auto;
               
            
        }
        .right_info img{
           
            width: 100%;
            height: auto;
           
        
    }
    .your_os h2 {
      
        font-size: 23px;
    }
    .your_os .tab button{
        font-size: 13px;
    }
    .tab-card-details{
        width: 100%;
    }
    .inner-card{
        row-gap: 20px;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .inner-card div{
        margin-top: 42px;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 634px){
    .container
    {
        width:100%;  
       
    }
    .banner-bottom .right_banner{
       
        height: 142px;
         padding:8px
    }
    .banner-bottom .left_banner h1 {
        font-size: 40px;
    }
    .banner-bottom{
        padding: 30px;
    }
    .banner-bottom .left_banner button{
        padding: 15px 30px;
    }
    .banner-bottom .right_banner p, .banner-bottom .right_banner span {
        font-size: 11px;
    }
    .banner-bottom{
        height: 350px;
        margin-top: 10px;
    }
    .banner{
        height: 480px;
        /* background-repeat: no-repeat; */
    }
    .info_form ,.inner_info{
        padding: 10px;
    }
    .footer-tab h2 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 425px){
     .banner-bottom{
        flex-direction: column;
        padding: 10px;
    }
    .banner-bottom .right_banner{
        align-self: flex-start;
        margin-top: 20px;
    }
    .banner-bottom .left_banner h1 {
        font-size: 30px;
    }
    .banner-bottom .left_banner button {
        margin-top: 18px;
    }
    .item_country_inner{
        row-gap: 20px;
    }
    .info_logo {
        padding: 24px 40px 20px 36px;
    }
    .your_os h2 {
        margin-left: 20px;
        font-size: 22px;
    }
    .your_os .owl_yos_item{
        justify-content: center;
        height: 310px;
    }
    .tabcontent .inner_card_yos{
        width: 100%;
    }
    .inner-card ul li p {
        font-size: 15px;
    }
.inner-card ul li a{
    font-size: 10px;
}
}
@media only screen and (max-width:375px){
    .banner-bottom .right_banner{
        width: 100%;
    }
    .left_info input{
        height: 40px;
    }
    .left_info button{
        width: 100px;
        height: 35px;
    }
    .left_info ul li a{
        font-size: 10px;
    }
    .your_server-carousel .inner-item-server{
        width: 100%;
    }
    .footer-tab-btn{
        width: 228px;
    }
    .plan-carousel .item{
        width: 320px;
        margin: 0px;
    }
    .footer-bottom .plan-carousel{
        padding-left: 0px;
    }
    .inner_card_yos {
        height: 260px;
    }
}