* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
 
    font-size: 16px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;


}

.btn_color {
    background-color: #F58025;
    color: white;
    border: none;
}

.border {
    border: 1px solid black;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.cursor {
    cursor: pointer;
}





/* logo part */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo img {
    width: 84px;
    height: 35px;
}

.logo {
    background-color: white;
}

.logo a i {
    font-size: 30px;
    display: none;
}

.navbar {
    background-color: #2c2824;
    opacity: 0.5;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}

nav ul li a,
.logo_name {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

nav ul li a:hover {
    color: #ff7409;
}

ul.navbarlink>li:not(:last-child) {
    margin-right: 42px;
}

/* banner */
.banner {
    width: 100%;
    height: 690px;
    background-image: url(../images/bannerbackground.png);
    position: relative;
    background-size: 100%;
    background-position: center;
}

.banner-bottom {
    justify-content: space-between;
    margin-top: 135px;
    height: 350px;
}


.banner-bottom .left_banner h1 {
    font-size: 52px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}

.banner-bottom .left_banner .btn-connect {
    padding: 15px 40px;
    transition: width 2s;
}

.banner-bottom .left_banner .btn-connect:hover {
    background-color: #fd740b;
}

.banner-bottom .right_banner {
    width: 348px;
    height: 150px;
    padding: 20px;
    align-self: flex-end;
    background-color: #FFFFFF;
    opacity: 0.5;
}

.banner-bottom .right_banner h4 {
    font-weight: 600;
    font-size: 16PX;
    margin-bottom: 10px;
}

.banner-bottom .right_banner p {
    margin-top: 10px;
}

.banner-bottom .right_banner span,
.banner-bottom .right_banner p {
    font-size: 14px;
    color: black;
}


/* emial form part  */
.info_logo {
    width: 84px;
    height: 35px;
    padding: 30px 50px 22px 50px;
}

.info_form,
.inner_info {
    /* height: 747px; */
    background: url(../images/blue_background.png);
    padding: 30px;
}

.inner_info {
    justify-content: center;
    align-items: center;
}

.left_info {
    width: 477px;
    height: 260px;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.left_info ul {
    justify-content: space-between;
}

.left_info span,
.left_info ul li a,
.card_cap {
    font-size: 13px;
    font-weight: 500;
    color: black;
}

.left_info input {
    margin: 15px 0px;
    width: 370px;
    height: 50px;
    padding: 10px;
}

.left_info .btn-submit {
    width: 370px;
    height: 40px;
    line-height: 40px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    transition: width 2s;
}

.left_info .btn-submit:hover {
    background-color: #ff6f01;
}

.right_info {
    width: 748px;
    height: 585px;

}

.right_info img {
    width: 100%;
    height: 585px;
}

/* inner_country */
.country {
    background-color: #FAFBFF;
}

.inner_country {
    margin-top: 70px;
}

.inner_country h4 {
    font-size: 22;
    margin-left: 30px;
    font-weight: 500;
}

.card_country {
    background-image: url(../images/state-map.png);
    background-size: cover;
    background-position: center;
}

.owl_country {
    padding: 50px;

}

.item_country .card_img {
    width: 145px;
    height: 136px;
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
}

.item_country_inner {
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

.item_country .card_img img {
    width: 85px;
    height: 85px;

}

.your_server {
    position: relative;

}

.your_server-carousel {
    padding: 10px;
}

.your_server-carousel .item {
    padding: 20px;
}

.your_server h2 {
    font-size: 35px;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 50px;
}

.your_server-carousel .inner-item-server {

    width: 170px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

.top-blue {
    background-color: #2980C9;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}

.top-blue P {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.top-blue P span {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}

.inner-item-server ul {
    padding: 15px;
    font-size: 14px;
}

.inner-item-server ul li {
    margin-top: 15px;
}


.owl-theme .owl-dots .owl-dot span {
    display: none !important;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #F28A49 !important;
    color: white !important;

}

.owl-carousel .owl-nav button.owl-next:hover {
    background-color: #ff6506;
}

.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: #ff6506;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
    font-size: 30px;
    display: block;
    margin-bottom: 5px;

}


/* new code */
.tabs {
    width: 100%;

}

ul#tabs-nav-one {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
   
}

ul#tabs-nav-one li {
    float: left;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

ul#tabs-nav-one li:hover,
ul#tabs-nav-one li.active {
    background-color: #F28A49;
    border-radius: 25px;
    transition: 0.3s;

}

#tabs-nav-one li a {
    text-decoration: none;
    color: black;
}

.opreting-system-wrapper .tab-content-one {
    padding: 6px 12px;


}

.opreting-system-wrapper {
    background-color: #FBFBFB;
}

.opreting-system-wrapper h2 {
    font-size: 35px;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 50px;
}

.opreting-system-wrapper .tabs ul li a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 16px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
}

.opreting-system-wrapper .tab>:not(:first-child) {
    margin-left: 30px;
}

.opreting-system-wrapper .tab-content-one .owl-opreting-system .item .inner_card_yos {
    display: inline-block;
    margin: 20px;
    text-align: center;
    padding: 20px;
    background-color: white;
    height: 274px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.opreting-system-wrapper .tab-content-one .owl-opreting-system .item {
    justify-content: space-between;
    text-align: center;
    height: 350px;
    padding: 20px;
    flex-wrap: wrap;

}

.opreting-system-wrapper .tab-content-one .owl-opreting-system .item h5 {
    border-bottom: 1px solid #f36b03;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

.opreting-system-wrapper .tab-content-one .owl-opreting-system .item p {
    margin-top: 30px;
    font-size: 15px;
    margin-bottom: 10px;

}

.opreting-system-wrapper .tab-content-one .owl-opreting-system .item p span {
    font-size: 12px;
    margin-bottom: 15px
}

.opreting-system-wrapper .tab-content-one .owl-opreting-system .item .inner_card_yos:hover {
    background-color: #F28A49;
    color: white;
}

.opreting-system-wrapper .tab-content-one .owl-opreting-system .item .inner_card_yos .inner_card_yos_img {
    width: 145px;
    height: 36px;
}

.inner_card_yos_img span {
    width: 100%;
    height: 30px;
    font-size: 32px;
    font-weight: bolder;

}

.an-operating-wrapper {
    background-color: #FBFBFB;

}

.an-operating-wrapper h2 {
    font-size: 35px;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 50px;
}

.an-operating-wrapper .tabs ul li a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 16px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
}

.an-operating-wrapper .tab>:not(:first-child) {
    margin-left: 30px;
}

ul#tabs-nav-two {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
   
}

ul#tabs-nav-two li {
    float: left;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

ul#tabs-nav-two li:hover,
ul#tabs-nav-two li.active {
    background-color: #F28A49;
    border-radius: 25px;
    transition: 0.3s;

}

#tabs-nav-two li a {
    text-decoration: none;
    color: black;
}

.an-operating-wrapper .tab-content-two {
    padding: 6px 12px;

}

.an-operating-wrapper .tab-card-details {
    background-color: #fff;
    width: 428px;
    height: 221px;
    padding: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

.owl-an-opreting-system .item {
    padding: 20px;
}

.owl-an-opreting-system .inner-card {
    margin-top: 50px;

}

.owl-an-opreting-system .inner-card :hover {
    background-color: #f36b03;
    color: white;
}

.inner-card div {
    margin-right: 50px;
}

.inner-card ul {
    justify-content: space-between;
    margin-bottom: 20px;
}

.inner-card ul li p {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}

.inner-card ul li a {
    border: 1px solid gray;
    padding: 8px 15px;
    border-radius: 25px;
    color: black;
    font-size: 13px;
}

.inner-card select {
    width: 100%;
    padding: 10px;

}

.inner-card select:focus {
    border: none;
}


/* footer section */
footer {
    background-color: #ECEEFE;
  
}

#tabs-content {
    background-color: white;
}

.footer-tab {
    padding: 50px;
    background-color: #ECEEFE;
    height:250px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

footer .tabs .footer-tab ul {
    width: 290px;
    height: 44px;
    border-radius: 35px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    overflow: auto;
}


footer .tabs .footer-tab ul li a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 27px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    text-decoration: none;
    color: black;
}




footer .tabs .footer-tab ul li:hover,
footer .tabs .footer-tab ul li.active {
    background-color: #F28A49;
    border-radius: 25px;
    transition: 0.3s;

}
footer .tabs .footer-tab ul li .active{
    background-color: #F28A49;
}
.footer .tab-content-three {
    padding: 6px 12px;
  

}


.plan-carousel .item {
    width: 270px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 10px;
    height: 400px;
}


#tabs-content .plan-carousel {
    padding-left: 60px;
    
}


.plan-carousel .item .inner-card-plan {
    background-color: #ECEDF4;
    padding: 30px;
}

.plan-carousel .item .inner-card-plan p span {
    font-size: 34px;
    font-weight: bold;
}

.plan-carousel .item .inner-card-plan p {
    font-size: 22px;
}

.inner-card-plan-bottom {
    padding: 30px;
}

.inner-card-plan-bottom ul li {
    margin: 20px 0px;
    font-size: 16px;
}

.inner-card-plan-bottom ul li::before {
    content: url(../images/right.png);
    margin-right: 10px;
}

.inner-card-plan-bottom p {
    margin: 25px 0px;
    font-size: 21px;
}

.inner-card-plan-bottom a {
    border: none;
    padding: 10px 45px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 35px;
    background-color: #061F95;
    color: white;
}

.inner-card-plan-bottom a:hover {
    background-color: #f36b03;
}

.header-for-mobile-app {
    display: none;
}

#baricon {
    display: none;
}

ul#tabs-nav-three li:hover,
ul#tabs-nav-three li a.active {
    background-color: #F28A49;
    border-radius: 25px;
    transition: 0.3s;

}












/* responsive navbar */
@media only screen and (max-width:1200px) {
    .container {
        max-width: 991px;
        width: 100%;
    }
}

@media only screen and (max-width:1000px) {
    .tab-card-details {
        width: 330px;
    }

}

@media only screen and (max-width: 991px) {

    .container {
        max-width: 767px;
        width: 100%;
    }

    .navbar nav .navbarlink li a {
        font-size: 14px;
    }

    .left_info {
        width: 360px;
    }

    .left_info input,
    .left_info .btn-submit {
        width: 280px;
    }

    .item_country_inner {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 8px;
    }

    .item_country_inner {
        row-gap: 20px;
    }

    .your_os h2 {
        margin-left: 14px;
        font-size: 26px;
    }

    .your_os .tab>:not(:first-child) {
        margin-left: 1px;
    }

    .your_os .tab button {
        font-size: 15px;
    }

    .your_server h2 {
        font-size: 26px;
    }

    .footer-tab h2 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 625px;

    }

    #baricon {
        display: block;
        font-size: 32px;
    }

    .logo a i {
        display: block;
    }

    .header-for-mobile {
        display: block;
        z-index: 999;
        background-color: rgb(25, 29, 27);
        position:sticky;
        right: 0px;
        left: 0px;
        top: 5rem;
        height: 1000vh;
        padding: 2rem;
        color: rgb(255, 255, 255);
    }

    .header-for-mobile ul li {
        margin-top: 20px;
    }

    .header-for-mobile ul li a {
        color: white;
    }

    .navbarlink {
        display: none;
    }

    .logo_name {
        margin: 0px auto;
        font-size: 30px;
    }

    .logo {
        padding: 0px 20px;
    }

    .info_form .inner_info {
        flex-direction: column-reverse;
    }

    .left_info {
        width: 100%;
    }

    .left_info input {
        width: 100%;
    }

    .left_info .btn-submit {
        width: 180px;
    }

    .right_info {
        width: 100%;
        height: 500px;
    }

    .right_info {

        width: 100%;
        height: auto;


    }

    .right_info img {

        width: 100%;
        height: auto;


    }

    .your_os h2 {

        font-size: 23px;
    }

    .your_os .tab button {
        font-size: 13px;
    }

    .tab-card-details {
        width: 100%;
    }

    .inner-card {
        row-gap: 20px;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .inner-card div {
        margin-top: 42px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 634px) {
    .container {
        width: 100%;

    }

    .banner-bottom .right_banner {

        height: 142px;
        padding: 8px
    }

    .banner-bottom .left_banner h1 {
        font-size: 40px;
    }

    .banner-bottom {
        padding: 30px;
    }

    .banner-bottom .left_banner button {
        padding: 15px 30px;
    }

    .banner-bottom .right_banner p,
    .banner-bottom .right_banner span {
        font-size: 11px;
    }

    .banner-bottom {
        height: 350px;
        margin-top: 10px;
    }

    .banner {
        height: 480px;
    }

    .info_form,
    .inner_info {
        padding: 10px;
    }

    .footer-tab h2 {
        font-size: 22px;
    }
    #tabs-content .plan-carouse{
        padding-left: 30px;
    }
}
@media only screen and (max-width: 484px){
    #tabs-content .plan-carousel {
        padding-left: 10px;
    }
    .plan-carousel .item{
        width: 94%;
    }
}
@media only screen and (max-width: 425px) {
    .banner-bottom {
        flex-direction: column;
        padding: 10px;
    }

    .banner-bottom .right_banner {
        align-self: flex-start;
        margin-top: 20px;
    }

    .banner-bottom .left_banner h1 {
        font-size: 30px;
    }

    .banner-bottom .left_banner button {
        margin-top: 18px;
    }

    .item_country_inner {
        row-gap: 20px;
    }

    .info_logo {
        padding: 24px 40px 20px 36px;
    }

    .opreting-system-wrapper  h2 {
        margin-left: 20px;
        font-size: 22px;
    }
    footer  h2 {
        
        font-size: 22px;
    }
    .your_server h2{
        font-size: 22px;  
    }
    .an-operating-wrapper h2{
        font-size: 22px;  
    }
    .opreting-system-wrapper .tabs ul li a ,.an-operating-wrapper .tabs ul li a{
        font-size: 13px;
    }
    .your_os .owl_yos_item {
        justify-content: center;
        height: 310px;
    }

    .tabcontent .inner_card_yos {
        width: 100%;
    }

    .inner-card ul li p {
        font-size: 15px;
    }

    .inner-card ul li a {
        font-size: 10px;
    }
    footer .tabs .footer-tab ul{
        width: 250px;
    }
    #tabs-content .plan-carousel{
        padding-left: 0px;
    }
    .lincensed{
        margin-top: -10px;
    }
    .inner-card select{
        font-size: 13px;
    }
}

@media only screen and (max-width:375px) {
    .banner-bottom .right_banner {
        width: 100%;
    }

    .left_info input {
        height: 40px;
    }

    .left_info .btn-submit {
        width: 100px;
        height: 35px;
    }

    .left_info ul li a {
        font-size: 10px;
    }

    .your_server-carousel .inner-item-server {
        width: 100%;
    }

    .footer-tab-btn {
        width: 228px;
    }

    .plan-carousel .item {
        width: 100%;
        margin: 0px;
    }

    .footer-bottom .plan-carousel {
        padding-left: 0px;
    }

    .inner_card_yos {
        height: 260px;
    }
    .inner-card select {
        font-size: 9px;
    }
}

